<div class='row donna'>
    <div class='col-md-6'>
        <div class='model'>
            <div class='loading'>
                Loading Donna Prima...
            </div>
        </div>
    </div>

    <div class='col-md-6'>
        <h1 class='artemix-border artemix-brand'><div class='logo'></div></h1>
        <div class='instructions artemix-border'>
            <h2>INSTANT DESIGN TESTINGS</h2>
            <div class='step'>1. In Illustrator, turn visiblity off on the "Guides" Layer.  Keep all other Layers visible.</div>
            <div class='step'>2. File -> Save for Web...</div>
            <div class='step'>3. Make sure "Clip to Artboard" is check on!</div>
            <div class='step'>4. Save as "Very High" quality JPEG. (Quality: 80%)</div>
            <div class='step'>5. Use the drop zone below or select file with the button.</div>
            <br>
            <div class='file-upload artemix-border'>
                <div class='drop-here'>
                    Drop exported design here!
                    <br>
                    <input type='file' id='design-image' name='files[]' multiple />
                </div>
                <div class='loading'>
                    Loading Design...
                </div>
            </div>
            <div class='step'>Please understand that this is a work in progress and <strong>should not be treated as an exact representation of how your design will look</strong>. It's pretty close, though. We're working to make it perfect.</div>
        </div>
        <br>
        <!-- <h2>Not seeing what you expect?</h2>
        <div class='tips'>
            <div>Make sure your input matches the <a href="#">reference design.</a></div>
        </div> -->
    </div>
</div>

<div class='row'>
    <canvas id='left_model_image' width='1200' height='2640'></canvas>
    <div class='left_wrapper'>
        <div id='left_rotation'></div>
        <div id='left_height'></div>
        <canvas id="left_leg" width="300" height="660"></canvas>
        <%= image_tag "left_leg.png", :size => "300x660", :id => "left_cover" %>
        <canvas id="left_cover_canvas" width="300" height="660"></canvas>
        <div id='left_width'></div>
    </div>

    <canvas id='right_model_image' width='1200' height='2640'></canvas>
    <div class='right_wrapper'>
        <div id='right_rotation'></div>
        <div id='right_height'></div>
        <canvas id="right_leg"width="300" height="660"></canvas>
        <%= image_tag "right_leg.png", :size => "300x660", :id => "right_cover" %>
        <canvas id="right_cover_canvas"width="300" height="660"></canvas>
        <div id='right_width'></div>
    </div>

    <div class='tooltip-wrapper'>
        <div class='reveal-template'>
            Want to make some tweaks to your design directly in this page?
            Click this box to show/hide our experimental in-browser editor.
        </div>
        <div class='tooltip'>
            <br>
            Click and drag to move the images.
            Use the sliders to stretch your design.
        </div>
    </div>
</div>

<%= render :partial => 'transforms/left_form' %>
<%= render :partial => 'transforms/right_form' %>