<h2>Preview Your Bombsheller Design</h2>

<div class='instructions'>
    <h2>Instructions</h2>
    <div class='step'>1. Toggle the view mode to off on the "Design Info" and "Guides" Layers.</div>
    <div class='step'>2. File -> Save for Web...</div>
    <div class='step'>3. Make sure "Clip to Artboard" is check on!</div>
    <div class='step'>4. Save as "Very High" quality JPEG. (Quality: 80%)</div>
    <div class='step'>5. Drag and drop the exported image anywhere on this page!</div>
</div>

<canvas id='left_model_image' width='600' height='1320'></canvas>
<div class='left_wrapper'>
    <div id='left_rotation'></div>
    <div id='left_height'></div>
    <canvas id="left_leg" width="300" height="660"></canvas>
    <%= image_tag "left_leg.png", :size => "300x660", :id => "left_cover" %>
    <canvas id="left_cover_canvas" width="300" height="660"></canvas>
    <div id='left_width'></div>
</div>

<canvas id='right_model_image' width='600' height='1320'></canvas>
<div class='right_wrapper'>
    <div id='right_rotation'></div>
    <div id='right_height'></div>
    <canvas id="right_leg"width="300" height="660"></canvas>
    <%= image_tag "right_leg.png", :size => "300x660", :id => "right_cover" %>
    <canvas id="right_cover_canvas"width="300" height="660"></canvas>
    <div id='right_width'></div>
</div>

<div class='model'></div>

<%= render :partial => 'transforms/left_form' %>
<%= render :partial => 'transforms/right_form' %>

<div class='drop-encourage'>Drop Your Design!</div>