<h1>Make a Design!</h1>
Start by uploading an image.

<%= render :partial => 'artworks/form' %>

Position the image on the leggings template.

<canvas id="left_leg" wdith="300" height="633"></canvas>
<canvas id="left_cover" wdith="300" height="633"></canvas>

<canvas id="right_leg"wdith="300" height="633"></canvas>
<canvas id="right_cover"wdith="300" height="633"></canvas>