<h1>Make a Design!</h1>
Start by uploading an image.

<%= render :partial => 'artworks/form' %>

Position the image on the leggings template.

<canvas id="left_leg"></canvas>
<canvas id="right_leg"></canvas>