// Place all the styles related to the Designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$p: absolute;
$t: 0px;
$ll: 30px;
$rl: 0px;
$wp: relative;
$wh: 668px;
$ww: 330px;

h1, h2 {
    margin-top: 0px !important;
}

body {
    font-family: 'Lato';
}

.donna {
    margin-top: 20px;
}

.instructions {
    width: 100%;
}

#left_model_image {
    display: none;
}

#right_model_image {
    display: none;
}

.left_wrapper {
    position: $wp;
    height: $wh + 2 * $ll;
    width: $ww + $ll;
    float: left;
    display: none;

    #left_cover {
        position: $p;
        top: $t + $ll;
        left: $ll;
    }

    #left_leg {
        position: $p;
        top: $t + $ll;
        left: $ll;
    }

    #left_cover_canvas {
        position: $p;
        top: $t + $ll;
        left: $ll;
    }

    #left_height {
        height: $wh;
        display: none;
        left: 13px;
        z-index: 20;
        top: 28px;
    }

    #left_width {
        width: $ww;
        left: $ll;
        display: none;
        top: 29px;
    }

    #left_rotation {
        display: none;
    }
}


.right_wrapper {
    position: $wp;
    height: $wh + 2 * $ll;
    width: $ww + $ll;
    left: 100;
    float: left;
    display: none;

    #right_cover {
        position: $p;
        top: $t + $ll;
        left: $rl;
    }

    #right_leg {
        position: $p;
        top: $t + $ll;
        left: $rl;
    }

    #right_cover_canvas {
        position: $p;
        top: $t + $ll;
        left: $rl;
    }

    #right_height {
        height: $wh;
        left: $ww + 1;
        display: none;
        top: 28px;
    }

    #right_width {
        width: $ww;
        display: none;
        top: 29px;
    }

    #right_rotation {
        display: none;
    }
}

.file-upload {
    width: 100%;
    background-color: #ed4faf;
    font-size: 23px;
    padding: 5px;
    margin-bottom: 15px;

    input {
        margin-top: 15px;
        font-size: 15px;
    }

    .loading {
        display: none;
    }
}

.tooltip-wrapper {
    font-size: 18px;
    float: left;
    width: 250px;
    padding: 10px;
    line-height: 20px;
    background-color: #333333;
    margin-top: 30px;

    .tooltip {
        display: none;
    }
}

.model {
    float: left;
    width: 100%;

    .loading {
        position: relative;
        width: 180px;
        margin: auto;
        font-size: 18px;
        top: 150px;

        .another-center {
            width: 10px;
            margin: auto;
        }
    }
}