// Place all the styles related to the Designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$p: absolute;
$t: 0px;
$ll: 30px;
$rl: 0px;
$wp: relative;
$wh: 660px;
$ww: 300px;

#left_model_image {
    display: none;
}

#right_model_image {
    display: none;
}

.left_wrapper {
    position: $wp;
    height: $wh + 2 * $ll;
    width: $ww + $ll;
    float: left;
    display: none;

    #left_cover {
        position: $p;
        top: $t + $ll;
        left: $ll;
    }

    #left_leg {
        position: $p;
        top: $t + $ll;
        left: $ll;
    }

    #left_cover_canvas {
        position: $p;
        top: $t + $ll;
        left: $ll;
    }

    #left_height {
        height: $wh;
        display: none;
    }

    #left_width {
        width: $ww;
        left: $ll;
        display: none;
    }

    #left_rotation {
        display: none;
    }
}


.right_wrapper {
    position: $wp;
    height: $wh + 2 * $ll;
    width: $ww + $ll;
    left: 100;
    float: left;
    display: none;

    #right_cover {
        position: $p;
        top: $t + $ll;
        left: $rl;
    }

    #right_leg {
        position: $p;
        top: $t + $ll;
        left: $rl;
    }

    #right_cover_canvas {
        position: $p;
        top: $t + $ll;
        left: $rl;
    }

    #right_height {
        height: $wh;
        left: $ww + 20;
        display: none;
    }

    #right_width {
        width: $ww;
        display: none;
    }

    #right_rotation {
        display: none;
    }
}

.file-upload {
    width: 550px;
    background-color: #ed4faf;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 15px;

    input {
        margin-top: 15px;
    }

    .loading {
        display: none;
    }
}

.tooltip-wrapper {
    font-size: 15px;
    float: left;
    width: 250px;
    margin-left: 15px;
    background-color: #333333;

    .tooltip {
        display: none;
    }
}

.model {
    float: left;
    width: 330px;
}

// .drop-encourage {
//     position: absolute;
//     height: 85%;
//     width: 100%;
//     background-color: rgba(200, 200, 200, .5);
//     top: 0;
//     left: 0;
//     font-size: 50px;
//     text-align: center;
//     padding-top: 10%;
//     display: none;
// }

// .model {
//     position: $wp;
//     left: 2 * $ww + 100;
//     width: $ww;
//     height: $wh;
// }