// Place all the styles related to the Designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$p: absolute;
$t: 350px;
$ll: 30px;
$rl: 400px;

#left_cover {
    position: $p;
    top: $t;
    left: $ll;
}

#left_leg {
    position: $p;
    top: $t;
    left: $ll;
}

#right_cover {
    position: $p;
    top: $t;
    left: $rl + $ll;
}

#right_leg {
    position: $p;
    top: $t;
    left: $rl + $ll;
}

#right_cover_canvas {
    position: $p;
    top: $t;
    left: $rl + $ll;
}

#left_cover_canvas {
    position: $p;
    top: $t;
    left: $ll;
}