// Place all the styles related to the Designs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$p: absolute;
$t: 0px;
$ll: 0px;
$rl: 100px;
$wp: relative;
$wh: 660px;
$ww: 300px;

.left_wrapper {
    position: $wp;
    height: $wh;
    width: $ww;
    float: left;

    #left_cover {
        position: $p;
        top: $t;
        // left: $ll;
    }

    #left_leg {
        position: $p;
        top: $t;
        // left: $ll;
    }

    #left_cover_canvas {
        position: $p;
        top: $t;
        // left: $ll;
    }
}


.right_wrapper {
    position: $wp;
    height: $wh;
    width: $ww;
    left: $rl + $ll;

    #right_cover {
        position: $p;
        top: $t;
    }

    #right_leg {
        position: $p;
        top: $t;
    }

    #right_cover_canvas {
        position: $p;
        top: $t;
    }
}
