<!DOCTYPE html>
<html>
<head>
  <title>Artemix: Preview Your Bombsheller Leggings Design</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel='stylesheet' href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css'>
  <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  <script src='http://code.jquery.com/ui/1.10.3/jquery-ui.js'></script>
</head>
<body>

    <div id='bomb_nav' class='navbar navbar-default' role='navigation'>
        <div class='container-fluid'>
            <div class='navbar-header'>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="http://shop.bombsheller.com" class='navbar-brand'></a>
            </div>

            <div class='navbar-collapse collapse' id='bomb_nav_options'>
                <ul class='nav navbar-nav'>
                    <li><a href="http://shop.bombsheller.com">SHOP</a></li>
                    <li class='dropdown'>
                        <a href="http://bombsheller.com/artists/">
                            ARTISTS
                        </a>
                    </li>
                    <li class='dropdown'>
                        <a href="http://bombsheller.com/about/">
                            ABOUT
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <%= yield %>

</body>
</html>
